<form>
  <div class="row form-group">
    <div class="col-sm-12 col-xl-4">
      <label for="">Nazwisko</label>
      <input id="nazwisko" class="form-control" placeholder="Nazwisko" autofocus>
    </div>


  <div class="col-sm-12 col-xl-4">
    <label for="">Imię:</label>
    <input id="imie" class="form-control" placeholder="Imię" autofocus>
  </div>


  <div class="col-sm-12 col-xl-4">
    <label for="">Nr telefonu:</label>
    <input id="phone" class="form-control" placeholder="Nr telefonu" autofocus>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <button class="btn btn-sm btn-info">Zapisz</button> 
    <button class="btn btn-sm btn-dark">Wyczyść</button>
    <button [routerLink]="['/contacts']" class="btn btn-sm btn-info">wstecz</button>
  </div>
</div>
</form>


