<table *ngIf="contacts.length>0; else noContactsAlert" class="table table-striped table-sm">
  <thead class="thead-dark">
    <tr>
      <th>Lp.</th>
      <th>Nazwisko</th>
      <th>Imię</th>
      <th>Nr telefonu</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let contact of contacts; let i =index" [routerLink]="['/contact',contact.id]">
      <td>{{i+1}}</td>
      <td>{{contact.surname}}</td>
      <td>{{contact.firstName}}</td>
      <td>{{contact.phoneNumber}}</td>
    </tr>
  </tbody>

</table>

<ng-template #noContactsAlert>
  <p class="no-contacts">Obecnie nie masz kontaktów do wyświetlenia.</p>
</ng-template>
<button [routerLink]="['/contact-add']" class="btn btn-success btm-sm"> Dodaj </button>
<button (click)="hideContacts()" class="btn btn-danger btm-sm">Ukryj</button>
<button (click)="showContacts()" class="btn btn-info btm-sm">Pokaż</button>
